MNEMONIC="replace with your Ganache wallet mnemonic"
INFURA_ENDPOINT="http://127.0.0.1:7545"
NEXT_PUBLIC_RPC_URL="http://127.0.0.1:7545"
NEXT_PUBLIC_DIAMOND_ADDRESS="replace with your deployed diamond contract address"
